body{
    font-family: 'Poppins', sans-serif;
}
.sign-in{
    width: 104px;
    height: 43px;
    background: #21B573;
    border-radius: 33px;
    border: none;
    color:white;

}
.sign-in a{
    text-decoration: white;
    color: white;
}
#logo{
    width: 198.07px;
    height: 58px;

}
.navbar-nav a{
    margin-right: 2rem;
}
.navbar-nav span{
    font-weight: 500;
    color: gray;
}
.right-image{
    width: 554px;
    height: 356px;
}
.illustration-learn{
    margin-top: 50px;
}
.left p{
    font-size:16px;
    color:#FD511A;
}
.left h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.left span{
    color: #21B573;
}
.get-started{
    width: 153px;
    height: 43px;
    background: #21B573;
    border-radius: 33px;
    padding: 12px 36px;
    margin-top: 20px;
    border: none;
    color:white;
}
#first-container, #second-container{
    background-color:#F0FFF0; 
}