body{
    font-family: 'Poppins', sans-serif;
}
.sign-in{
    width: 104px;
    height: 43px;
    background: #21B573;
    border-radius: 33px;
    border: none;
    color:white;

}
.sign-in a{
    text-decoration: white;
    color: white;
}
#logo{
    width: 198.07px;
    height: 58px;

}
.navbar-nav a{
    margin-right: 2rem;
}
.navbar-nav span{
    font-weight: 500;
    color: gray;
}
.right-image{
    width: 554px;
    height: 356px;
}
.illustration-learn{
    margin-top: 50px;
}
.left p{
    font-size:16px;
    color:#FD511A;
}
.left h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.left span{
    color: #21B573;
}
.get-started{
    width: 153px;
    height: 43px;
    background: #21B573;
    border-radius: 33px;
    padding: 12px 36px;
    margin-top: 20px;
    border: none;
    color:white;
}
#first-container, #second-container{
    background-color:#F0FFF0; 
}
#books-icons{
    margin-top: 30px;
}
.box-1, .box-2, .box-3, .box-4{
    height: 270px;
    width: 270px;
    border-radius: 10px;
    justify-content: space-evenly;
    margin: 20px;
}
.boxes{
    justify-content: space-evenly;
}
.box-1, .box-3, .box-4{
    background-color:#F8FFFB; 
}
.box-2{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#box-text{
    padding: 10px;
}

.buy-course{
    width: 137px;
    height: 35px;
    background: #21B573;
     border-radius: 33px;
     border: none;
     color: white;

}
.image-date{
    height: 24px;
    width: 146px;
}
.image-seat{
    width: 68px;
    height: 24px;
    margin:0 0 0 85px;
}
#image-1{
    border-radius: 11px;
    padding: 10px;
}
#card-footer-1{
  border-top: none;
    background-color: white;
    border-radius: 18px;
}
#card{
    border-radius: 18px;
    box-shadow: 7px 7px 40px gray

}
.online-class{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    /*margin: 40px 0 40px 0;*/
}
.testimonial{
    text-align: center;
    margin: 100px 0 50px 0;
    font-weight: 900;
    font-size: 36px;
}
.kichu-lekha p{
    padding: 25px;
    text-align: left;
    color:black;
}

.last-part{
    height: 369px;
    background: #282531;
}
.first-one{
    width: 364px;
    height: 60px;
}
.first-one col{
 margin: 48px 956px 261px 43px;
 color: white;
}
.text{
    height: 60px; 
    width: 364px; 
    position: absolute;
    margin: 40px 0 0 40px; 
    color:rgb(248, 227, 227);
    
}

.box-one, .box-two, .box-three{
    width: 123px;
    height: 180px;
    margin-top: 50px;
    color:rgb(248, 227, 227);
}
.box-one p{
    padding: 10%;
}
.box-one span p{
    font-size: 300; 
}
.box-two a{
    text-decoration: none;
    color:rgb(248, 227, 227);
}
.footer{
    background-color:#282531;  
    text-align: center; 
    color:rgb(248, 227, 227);
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.links {
    height: 80px;
    width: 200px;

}
.links a{
color: white;
text-decoration: none;
font-weight: 700;
font-size: 20px;
}


